body{
    background-color: grey;
}

.none{
    display: none;
}
#cont{
    font-size: 2em;
    text-align: center;
}
#cont2{
    font-size: 2em;
    text-align: center;
}
#btn{
    padding: 20px 50px;
    text-align: center;
    font-size: 2em;
    margin-right: 20px;
    background-color: green;
    color: honeydew;
    border: 3px solid greenyellow;
}
#btn2{
    padding: 20px 50px;
    text-align: center;
    font-size: 2em;
    background-color: red;
    color: honeydew;
    border: 3px solid hotpink;
}
.cont_btn{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}