.none{
    display: none;
}
#cont{
    font-size: 2em;
    text-align: center;
}
#cont2{
    font-size: 2em;
    text-align: center;
}
#btn{
    padding: 20px 50px;
    text-align: center;
    font-size: 2em;
    margin-right: 20px;
}
#btn2{
    padding: 20px 50px;
    text-align: center;
    font-size: 2em;
}
.cont_btn{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}